
#thegang {
	float: left;
	width: 50%;
	margin-right: 20px;
	margin-bottom: 10px;
}

#about {
	margin-top: 10px;
}

@media screen and ( max-width: 600px ) {

	#thegang {
		width: 100%;
		padding: 15px;
		border: 1px solid rgba(68, 68, 68, 0.2);
		margin-right: 0px;
	}
}

/* sm=768 and less md=991 lg=1200 and moore*/